# Build Artifacts:
node_modules/
.nyc_output/
coverage/
dist/
*.map

# Config Files
.eslintrc.js
.eslintignore
.prettierrc
.prettierignore
.travis.yml
package-lock.json
tsconfig.ts

# IDE files:
.vscode/
.idea/
.DS_Store
*.suo
*.user

# Test files:
/test/
/__tests__/
*.test.js
*.spec.js

# Doc files
docs/
examples/