{
    "printWidth": 90,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "trailingComma": "none",
    "bracketSpacing": false,
    "arrayBracketSpacing": false,
    "objectCurlySpacing": false
}
